@import "components/mixin/mixins";
@import "components/placeholder/placeholders";
@import "components/variable/variables";
@import "../node_modules/hover.css/css/hover.css";
@import "../node_modules/materialize-css/dist/css/materialize.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: "Poppins";
}

html {
  font: {
    size: 18px;
    weight: 100;
  }
}

body {
  background: #da70d6;
  color: #fff;
}

header {
  @include dimension(20vh, auto);
  @include flex(flex, row, center, center);
  h1 {
    font: {
      size: 3rem;
      weight: 200;
    }
  }
}

form {
  margin: 0 auto;
  @include flex(flex, row, center, center);
  @include dimension(20vh, 50%);
  input {
    @include border(3px, green);
    width: 50%;
    color: #fff;
  }
  button {
    border: none;
    padding: 1rem;
    background: none;
    color: #fff;
  }
  .select {
    select {
      background: none;
      border: none;
      color: #fff;
      option:first-child {
        color: gray;
      }
      option {
        color: black;
      }
    }
  }
}

.todo-container {
  @include flex(flex, row, center, center);
  .todo-list {
    min-width: 30%;
    .todo-div {
      @include flex(flex, row, space-between, center);
      margin: 1rem;
      .todo-li {
        flex: 1;
        font-weight: 400;
        color: black;
        padding: 1rem;
        background: #fff;
      }
      .trash-btn,
      .complete-btn {
        border: none;
        padding: 1rem;
        color: #fff;
        cursor: pointer;
        i {
          pointer-events: none;
        }
      }
      .complete-btn {
        background: #33ff13;
      }
      .trash-btn {
        background: #fd1717;
      }
    }
  }
}

.fall {
  opacity: 0;
  transform: translateY(8rem) rotateZ(20deg);
  transition: all 0.5s ease-in-out;
}

.check {
  opacity: 0.2;
  transition: all 0.5s ease-in-out;
  text-decoration: line-through;
  color: black;
}
